@{
    ViewData["Title"] = "Get To Know Joel";
}
<h1>@ViewData["Title"]</h1>

<div>
    <h2>Informational Links</h2>
    <p>Here is the link to <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a></p>
    <p>Here is the link to <a href="https://baconsale.com/">Baconsale</a></p>
    <a href="https://baconsale.com/">
        <img src="~/img/baconsalekate.jpg" alt="baconsale" height=500px/>
    </a>
</div>
